<nav class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="container-fluid navbar-main">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo-white" %>
    <% end %>

    <h2><%= link_to 'Hobbymate', root_path, class: "navbar-title-website" %></h2>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
            <li class="nav-item">
            <%= link_to matches_path, class: "nav-link message" do %>
              <%= image_tag "message" %>
              <%= render 'shared/notifications_match' %>
            <% end %>
            </li>
            <li class="nav-item">
            <%= link_to user_path(current_user), class: "nav-link message" do %>
              <%= image_tag "profile" %>
            <% end %>
            </li>
            <li class="nav-item">
            <%= link_to destroy_user_session_path, :method => :delete , class: "nav-link message" do %>
              <%= image_tag "logout" %>
            <% end %>
            </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link message-login" do %>

            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
