<div class="homepage-all">
  <div id="homepage-block">
    <div>
      <h1 class="homepage-title">welcome to <br><strong>hobbymate</strong></h1>
      <p class="homepage-tagline">find new hobbies and people to do them with in your area</p>
    </div>
    <%= form_with url: categories_path, method: :get do |f| %>
      <div class ="homepage-adress" data-controller="geocoder" data-geocoder-api-key-value="<%=ENV['MAPBOX_API_KEY']%>">
        <%= f.text_field :address,
                          data: { geocoder_target: "address" },
                          :class => "searchbar-homepage d-none"%>
      </div>
      <p class="form-subtitle">Select categories you're interested in</p>
      <div class="container">
           <%# @categories.each_slice(2) do |category_pair| %>
            <div class="row shifted-row">
              <% @categories.each do |category| %>
                <div class="col-6 col-sm-4 col-lg-3">
                  <%= f.check_box "categories[#{category.id}]", :class => "tag-selector" %>
                  <%= f.label "categories[#{category.id}]", category.name %>
                </div>
              <% end %>
            </div>
          <%# end %>
      <div class="tag-item-inputs">
          <%= f.submit 'Next', :class => "searchbar-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
