<div class="swipe-container" data-controller="swipe">
  <h3 class="swipe-title" style="color: white">Swipe for your next hobbymate</h3>

      <div class="row justify-content-center h-100">
        <div class="col">
          <div class="user-card" data-swipe-target="card">
            <div class="user-card-image" style="background-image: url(<%= cl_image_path(@user.photo.key) %>)"></div>
              <div class="card-name">
                <div>
                  <h2 class="m-0"><%= @user.first_name %>, <%= @user.age %></h2>
                  <div class="tags-hobby scolled">
                    <% @user_hobby.each do |user_hobby| %>
                      <div class="tag-hobby"><p> <%=user_hobby.hobby.name%></p></div>
                    <% end %>
                  </div>
                  <p class="swipe-text scolled"><%= @user.bio %></p>
                </div>
                <div class="buttons-swipe">
                  <% if @match.status == "pending"%>
                    <%= simple_form_for @match do |f|  %>
                      <%= f.input :status, input_html: { value: "rejected" }, as: :hidden  %>
                      <%= f.submit "Pass", class: "btn btn-match-pass", data: {swipe_target:"reject"}%>
                    <% end %>
                    <%= simple_form_for @match do |f| %>
                      <%= f.input :status, input_html: { value: "accepted" }, as: :hidden  %>
                      <%= f.submit "Accept", class: "btn btn-match", data: {swipe_target:"accept"}%>
                    <% end %>
                  <% else %>
                    <%= simple_form_for @match do |f| %>
                      <%= f.input :receiver_id, input_html: { value: @user.id }, as: :hidden  %>
                      <%= f.input :status, input_html: { value: "rejected" }, as: :hidden  %>
                      <%= f.submit "Pass", class: "btn btn-match-pass", data: {swipe_target:"reject"}%>
                    <% end %>
                    <%= simple_form_for @match do |f| %>
                    <%= f.input :receiver_id, input_html: { value: @user.id }, as: :hidden  %>
                      <%= f.input :status, input_html: { value: "pending"}, as: :hidden  %>
                      <%= f.submit "Accept", class: "btn btn-match", data: {swipe_target:"accept"} %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% if params[:status] == "accepted" %>
    <div class="modal p-0" id="match_modal" data-controller="match-modal" tabindex="-1" >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="text-align-center pt-3">
            <h2 class="modal-title"> It's a Match! </h2>
          </div>
          <div class="modal-body">
            <h5 id="modal-h2">You matched with <%= @old_match.sender.first_name %> <%= @old_match.sender.last_name %></h5>
            <div class="modal-match-body d-flex justify-content-around align-items-center">
              <div class="modal-image" style="background-image: url('<%= cl_image_path current_user.photo.key %>')"></div>
              <i class="fas fa-star" id="modal-star"></i>
              <div class="modal-image" style="background-image: url('<%= cl_image_path @old_match.sender.photo.key %>')"></div>
            </div>
          </div>
          <div class="modal-footer pt-0 pb-3">
            <button type="button" class="btn modal-button" data-bs-dismiss="modal">Keep looking</button>
            <%= link_to "Start chat", match_path("#{@old_match.id}#message-"), class: 'btn modal-button' %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
