<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= form_with url: create_many_user_hobbies_path, method: :POST do |f| %>
        <% @categories.each do |category| %>
            <div class="cards-category">
              <h1 class="text-center pt-3"><%= category.name %></h1>
                <div class="category-hobbies">
                  <div id="category-carousel-<%= category.id %>" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <% category.hobbies.each_slice(2).with_index do |hobby_pair, index| %>
                        <div class="carousel-item <%= "active" if index == 0  %>">
                          <div class="d-flex flex-row justify-content-center">
                            <% hobby_pair.each do |hobby|  %>
                              <div class="px-3">
                                <%= render "hobby_card", hobby: hobby, f: f %>
                              </div>
                            <% end  %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <%= render "carousel_controls", category: category %>
                  </div>
                </div>
            </div>
        <% end %>
      <div class="tag-item-inputs">
        <%= f.submit 'Next', :class => "searchbar-submit" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
